@model IEnumerable<University.ViewModel.StudentIndexViewModel>

@{
    ViewData["Title"] = "Student Index";
}

<h2>Student Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<h4>Student</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
    
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => item.LastName)
                </th>

                <th>
                    @Html.DisplayFor(model => item.FirstMidName)
                </th>
           
                <th>
                    @Html.DisplayFor(model => item.EnrollmentDate)
                </th>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        
        }
    </tbody>
</table>