@model IEnumerable<University.ViewModel.StudentIndexViewModel>

@{
    ViewData["Title"] = "Student Index";
}

<h2>Student Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-action="Index", method="get">
<div>
     <input type="text" name="searchString" placeholder="Seach..." value="@ViewData["CurrentFilter"]" />
     <button type="submit">Search</button>
</div>
</form>


<h4>Student</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
               <a asp-action ="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.LastName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>          
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.EnrollmentDate)</a>

            </th>
            <th>
    
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.LastName)
                </td>

                <th>
                    @Html.DisplayFor(model => item.FirstMidName)
                </th>
           
                <th>
                    @Html.DisplayFor(model => item.EnrollmentDate)
                </th>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        
        }
    </tbody>
</table>